body {
    margin: 0;
    background: #daa8c7;
    font-family: Lato, Arial, sans-serif;;
    font-size: 0;
}

.container {
    display: block;
    max-width: 1100px;
    min-width: 500px;
    padding-top: 100px;
    margin: auto;
}

.right-side {
    box-sizing: border-box;
    width: 35%;
    float: right;
    padding: 10px;
}

.left-side {
    box-sizing: border-box;
    width: 65%;
    float: left;
    padding: 10px;
    box-shadow: aliceblue;
}

.container-list {
    width: 100px;
    background: white;
    padding: 5px;

}

.inner {
    background: white;
    border-radius: 4px;
    box-shadow: antiquewhite;
}

.inner-right {
    background: white;
    border-radius: 4px;
    box-shadow: antiquewhite;
}

.input-holder {
    padding: 10px;
}



.input-text {
    display: inline-block;
    box-sizing: border-box;
    width: 80%;
    padding: 9px;
}

.edit {
    width: 100px;
    display: inline-block;
    padding: 4px;
}
.item {
    border-top: 1px solid rgb(111, 111, 111);
    border-bottom: 1px rosybrown;
}

.item-name {
    padding: 12px;
    box-sizing: border-box;
    width: 25%;
    display: inline-block;
}

.item-name-new {
    font-size: 15px;
    text-align: left;
}

.center-buttons {
    box-sizing: border-box;
    width: 37.5%;
    display: inline-block;
    text-align: center;
    padding: 0;
}

.right-buttons {
    box-sizing: border-box;
    width: 37.5%;
    display: inline-block;
    text-align: right;
    padding: 0 15px 0 0;
}

.my-button {
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 -0.25em 0 0 rgba(34, 36, 38, .15) inset;
    position: relative;
    border: none;
    text-align: center;
}

.my-button:hover {
    filter: brightness(85%);
}

.my-button:active {
    filter: brightness(75%);
}

.button-add {
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    border: 0px;
    background: #207dd0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 11px;
    color: white;
    font-weight: 700;
}

.round-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
    font-weight: 800;

}

.button-minus {
    background: #bf302e;
}

.count {
    background-color: #E8E8E8;
    display: inline-block;
    color: black;
    border-radius: 5px;
    position: relative;
    text-align: center;
    padding: 5px 10px 5px 10px;
    font-size: 13px;
}

.button-plus {
    background: green;
}

.button-bought {
    background: #e6e6e6;
    padding: 10px 20px 10px 20px;
}

.item .button-un-bought {
    background: #e6e6e6;
    padding: 10px 20px 10px 20px;
    display: none;
}

.item.is-bought .button-un-bought {
    display: inline;
}

.item.is-bought .button-bought, .item.is-bought .button-delete, .item.is-bought .button-minus, .item.is-bought .button-plus{
    display: none;
}

.item.is-bought .item-name{
    text-decoration: line-through;
}

.bought .label, .bought .orange-circle{
    text-decoration: line-through;
}

.button-delete {
    background: #ac0a09;
    border: none;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 3px;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
}

.left {
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}

.items-list {
    border-top: 1px solid rgb(111, 111, 111);
    padding: 10px;
}
.what-was-bought {
    border-top: 1px solid rgb(111, 111, 111);
    padding: 10px;
}

.bought-items {
    border-top: 1px solid rgb(111, 111, 111);
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}

.empty {
    border-top: 1px solid rgb(111, 111, 111);
    padding: 10px;
}

.item-not-bought {
    display: inline-block;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 3px;
    background: #eaeaea;
    font-size: small;
    margin: 2px;
}

.orange-circle {
    color: white;
    display: inline-block;
    border-radius: 50%;
    background: #F2711C;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    font-size: 10px;
}

.label {
    display: inline-block;
}

.badge {
    width:150px;
    height:110px;
    position: fixed;
    bottom: -70px;
    left: 20px;
    font-size: 15px;
    background: purple;
    color: white;
    text-align: center;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.4s ease;
}

.b-text
{
    font-size: 20px;
}

.b-title
{
    font-size: 25px;
    padding: 10px;
    font-weight: 600;
}

.badge:hover {
    transform: translateY(-70px);
    background: rebeccapurple;
}

@media (max-width: 500px) {
    .left-side {
        width: 100%;
    }

    .right-side {
        width: 100%;
    }
}

@media print {
    .b-title {
        display: none;
    }

    .badge {
        color: black;
        border: 1px solid blueviolet;
    }
}

.tooltip {
    border-bottom: 1px;
}

.tooltip::after {
    background: purple;
    border-radius: 8px;
    color: white;
    font-size: small;
    content: attr(data-tooltip);
    margin-top: -25px;
    margin-left: -38px;
    padding: 3px 7px 3px 7px;
    position: absolute;
    visibility: hidden;
    transition:all 0.4s ease;

}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateY(-15px);
    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}